<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" id="catalog">Music Catalog</a>
            <a class="navbar-brand" href="#/" id="home">Home</a>
            <a class="navbar-brand" href="#/songs" id="songsList">Songs</a>
            <a class="navbar-brand" href="#/playlists" id="PlaylistsList">Playlists</a>
            <a class="navbar-brand" href="#/create-song" id="createSong">Create Song</a>
            <a class="navbar-brand" href="#/create-playList" id="createPlayList">Create Playlist</a>
            <a class="navbar-brand" href="#/logout" id="logout">Logout</a>
        </div>
        <div><a class="navbar-brand navbarUser" href="#/userInfo" id="username">Welcome, {{username}}</a></div>
    </div>
</nav>