<h3 class="songsTable">Playlists</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th colspan="5"></th>
    </tr>
    </thead>
    <tbody>
    {{#playLists}}
    <tr id="playList-{{_id}}">
        <td class="titlePlayList"><a href="#"
                                     onclick="play('{{title}}')">{{title}}</a></td>
        <td><a class="btn btn-primary" href="#/viewPlaylist/{{_id}}">View</a></td>
        <td><a class="btn btn-primary" href="#/addSong/{{_id}}">Add song</a></td>
        <td><a class="btn btn-primary" href="#/editPlayList/{{_id}}">Edit</a></td>
        <td><a class="btn btn-primary" href="#/deletePlaylist/{{_id}}"
               onclick="return confirm('Are you sure want to delete {{title}}');">Delete</a></td>
    </tr>
    {{/playLists}}
    </tbody>
</table>