
<table class="table">

    <thead>
    <tr>
        <th colspan="5">Songs</th>
    </tr>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Url</th>
        <th colspan="2"> </th>
    </tr>
    </thead>
    <tbody>
    {{#songs}}
    <tr id="song-{{songId}}">
        <td class="title">{{title}}</td>
        <td class="description">{{description}}</td>
        <td class="file"><a href="#" onclick="window.open('{{file}}')">{{file}}</a></td>
        <!--<td class="file"><a href="#" onclick="play('{{file}}')">{{file}}</a></td>-->
        <td><a class="btn btn-primary" href="#/editSong">Edit</a></td>
        <td><button type="button" class="btn btn-primary" id="deleteSong">Delete</button></td>
    </tr>
    {{/songs}}
    </tbody>
</table>
<script>

    function play(n) {
        alert(n);
    }

</script>
