<div class="jumbotron" style="padding: 20px;">
    <div class="container">
        <form class="userInfo">
            <div class="form-group row">
                <h2 class="info">Info</h2>
                <h3><label class="col-sm-2 col-form-label">Username</label></h3>
                <h2><label id="usernameInfo">{{username}}</label></h2>
                <h3><label class="col-sm-2 col-form-label">Full name</label></h3>
                <h2><label id="fullNameInfo">{{fullName}}</label></h2>
            </div>

        </form>
    </div>

</div>