<div class="container">
    <div class="jumbotron">
        <h2>Music Catalog</h2>
        <p class="">This is a place to manage your songs and playlists. </p>
        <p>
            <a class="btn btn-lg btn-success" href="#/register" id="register">Register if you still don't have an
                account</a>
            <a class="btn btn-lg btn-info" href="#/login" id="login">Login here if you have account</a>
        </p>
    </div>

        <div id="playLists">
    </div>
    <div id="songs">
    </div>
</div>