<div class="container">
    <h2>Contextual Classes</h2>
    <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>
    <!--<table class="table">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Title</th>-->
            <!--<th>Description</th>-->
            <!--<th>Url</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr class="success" href="song">-->

            <!--<td>John</td>-->
            <!--<td>Doe</td>-->
            <!--<td>john@example.com</td>-->


        <!--</tbody>-->
    <!--</table>-->
</div>